/* Common Styles */
.messages {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Message Container Styles */
  .message-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  /* User message styling */
  .user-message {
    justify-content: flex-start;
    background-color: #f1f1f1; 
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 5px;
    width: auto;
    max-width: 75%;
  }
  
  .user-message i {
    
    color: #dc3545;; 
  }
 
  .user-message span {
    display: inline-block;
  }
  
  /* Bot message styling */
  .bot-message {
    justify-content: flex-end;
    background-color: #e0f7fa; 
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 5px;
    width: auto;
    max-width: 75%;
  }
  
  .bot-message i {
    color: #4caf50; 
  }
  
  .bot-message span {
    display: inline-block;
  }
  
  /* Input and Button Styling */
  input {
    width: 80%;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #dc3545;;
    color: white;
    border: none;
    border-radius: 5px;
    
  }
  
  
  /* Loading Indicator Style */
.loading-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 18px;
    color: #dc3545;;
  }
  
  .fa-spinner {
    margin-right: 10px;
  }