<div class="container ">
    <h1 style="text-align: center;">Welcome To Our ChatBot</h1>
    <div class="container" style="margin: 0 auto;">
      <div class="messages">
        <div *ngFor="let msg of chatHistory" [ngClass]="msg.from" class="message-item">
          <!-- User message -->
          <div *ngIf="msg.from === 'user'" class="message user-message">
            <i class="fa fa-user"></i> <!-- User Icon -->
            <span>{{ msg.message }}</span>
          </div>
         
          <!-- Bot message -->
          <div *ngIf="msg.from === 'bot'" class="message bot-message">
            <i class="fa fa-robot"></i> <!-- Bot Icon -->
            <span [innerHTML]="msg.message | formatmsg"  ></span>
          </div>
        </div>
      </div>
      <div *ngIf="loading" class="loading-indicator">
        <i class="fa fa-spinner fa-spin"></i> Loading...
      </div>
  
      <input [(ngModel)]="prompt" placeholder="Ask a question..." />
      <button (click)="sendData()">Send</button>
    </div>
  </div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br>